/*
.DivEsq {
  grid-area: esq;
  background-color: #ffa08c;
  border-radius: 5px;
  margin-top: 5px;

  border-color: #000000;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}
*/
/*
.DivDir {
  grid-area: dir;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #ffff64;
  margin-left: 5px;
  border-color: #000000;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}
*/
