.mnu {
  font-size: 20px;
  text-align: left;
}

.card {
  /* width: 149px;
  height: 100%;*/
  background-color: #1e2b32;
  border-radius: 10px 10px;
}

.header {
  border-radius: 5px 5px 0px 0px;
  padding: 0px;
  background-color: #2a3942;
}

h3 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-left: 1rem;
}
/*
.iconM {
  font-size: 18px;
  margin-left: 170px;
  color: #2f89fc;
}
*/
/*
.icon {
  margin-right: 8px;
}
*/
.body li {
  transition: 1s all;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  /*padding: 2px;
  margin-left: -40px;
  margin-top: 0px;*/
  color: #fff;
  list-style: none;
  display: block;
  border-top-right-radius: 1px 1px;
  border-bottom-right-radius: 1px 1px;
}
/*
li:hover {
  transition: 1s all;
  color: #2f89fc;
  background-color: rgba(42, 56, 65, 0.82);
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}
*/
.body > li {
  float: left;
}

.body li ul {
  background: #1e2b32;
  /*margin-left: 280px;*/
  margin-top: 0px;
  display: none;
  position: absolute;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.body li:hover > ul {
  display: block;
  cursor: pointer;
}
